<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit" class="edit-button">submit edit</button>
  </div>
</form>

<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>